html,
body {
  height: 100%;
}
#main-layout {
  .ant-layout-sider {
    position: fixed;
    top: 0;
    width: 200px;
    height: 100vh;
  }
  .ant-layout-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }
  .ant-layout-sider {
    position: sticky!important;
  }
}

#main-layout .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

#main-layout .trigger:hover {
  color: #1890ff;
}

#main-layout .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}

